/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 15, 2023, 8:59:18 PM
    Author     : User
*/

.editable {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: 0.5rem; /* Adjust the font size as needed */
}

.editable input:active {
  outline: none;

}

.editable input {
  border: none;
  outline: none;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

